<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
    <div th:insert="navbar.html">

    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <form th:action="@{/}" th:method="post">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Surname</label>
                        <input type="text" class="form-control" name="surname" placeholder="surname">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Exam</label>
                        <input type="number" max="100" class="form-control" name="exam" placeholder="exam">
                    </div>
                    <div>
                        <button class="btn btn-primary">ADD STUDENT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>